.dashboard-btn {
    width: 41px;
    height: 41px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        display: inline-block;
        background: black;
        margin: 0 1px;
        opacity: 0.8;
    }
}

.treyler-div {
    .shadov-div {
        height: auto;
    }
}


.films-info-single-inner {
    ul {
        padding: 0;

        li {
            list-style: none;

        }
    }

    .info-name {
        li {
            font-size: 13px;
            line-height: 18px;
            color: rgba(0, 0, 0, .6);
            margin-bottom: 10px;
            width: 150px;

        }
    }

    .api-info {
        li {
            color: #000;
            font-size: 13px;
            line-height: 18px;
            margin-bottom: 10px;

            div {
                color: #000;
                font-size: 13px;
                line-height: 18px;
                display: flex;
                align-items: center;
                img {
                    margin-left: 20px;
                    width: 25px;
                    height: 25px;
                    object-fit: contain;
                }
            }
        }
    }
}
.you-tra {
    width: 100%;
    iframe {
        width: 100%;
        height: 200px;
    }
}

.you-tras {
    width: 100%;
    iframe {
        width: 1000px;
        height: 500px;
        
    }
}

    .css-1wnsr1i {
        border: none !important;
        background: transparent !important;
        box-shadow: none !important;
        left: 0 !important;
        right: 0 !important;
        margin: auto;
        outline: none !important;
    }


.films-info-single-inner {
    display: flex;
    align-items: center;
}

.film-actors {
    padding: 0;

    li {
        list-style: none;
        color: #000;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}

.treyler-divs {
    position: relative;
    margin-bottom: 30px;
    .shadov-div {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 12;
        cursor: pointer;
    }
}

.single {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 30px;
    max-height: 900px;
    justify-content: space-between;

    .single-inner {
        &:last-child {
            width: 25%;
        }
        &:nth-child(2) {
            width: 35%;
        }
        &:first-child {
            margin-right: 30px;
            width: 35%;

            .single-first-child {
                height: 430px;

                .novie-img {
                    width: 100%;
                    height: 100%;
                }
            }

            .single-movie-date {
                color: rgba(0, 0, 0, .6);
                max-height: 18px;
                font-size: 13px;
                font-weight: 400;
                -webkit-line-clamp: 1;
                margin: 20px 0;
                display: inline-block;
            }
        }
    }
}

.dash-block {
    display: flex;
    align-items: center;
    margin-top: 20px;
    div {
        &:first-child {
            margin-right: 20px;
        }
    }
}

.eag-movie {
    display: inline;
    margin-right: 8px;
    font-size: 18px;
    vertical-align: middle;
    letter-spacing: -.2px;
    color: rgba(0,0,0,.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    display: inline-block;
}

.single-title {
    padding: 0;
    margin-top: 30px;
}

.reyting {
    font-size: 32px;
    font-weight: 700;
    color: #3bb33b;
    display: inline-block;
}


.css-6hp17o-MuiList-root-MuiMenu-list {
    background: white !important;
}



.osenka {
    display: block;
    color: rgba(0,0,0,.6);
    font-size: 13px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.film-actors {
    h5 {
        font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
    display: block;
    }
}

.lorem-inp {
    font-size: 13px;
    list-style: none;
    line-height: 15px;
    max-width: 100%;
}

.films-info-desc {
    font-size: 16px;
    line-height: 1.38;
    color: #000;
}

.pro-comp {
    padding: 0;
    margin-top: 30px;
}

.divs {
    width: 100px;
    padding: 10px;
    p {
        color: #000000;
        margin-bottom: 10px;
        font-size: 15px;
    }
    img {
        width: 100%;
    }
}

.single-block-item {
    min-height: 100vh;
    padding:0 0 20px 50px;
    width: 80%;
}

.comp-na {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




@media screen and (max-width: 1000px) {
    
}


@media screen and (max-width: 960px) {
    .single-block-item {
        width: 100%;
        margin-top: 50px;
        padding: 0;
    }
    .pro-comp {
        padding-left: 15px;
    }

    .comp-na {
        padding: 7px;
    }

    
}



@media screen and (max-width: 720px) {
    
    .pro-comp {
        padding: 0;
        margin-top: 30px;
        padding-left: 15px;
    }

    .single-block-item {
        width: 100%;
    }

    .single-block-item {
        padding: 60px 0 0 0;
    }

  }
@media screen and (max-width: 410px) {
    .single {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;
        max-height: max-content;
        justify-content: space-between;
        flex-direction: column;
    }

    .single .single-inner:first-child {
        margin-right: 0;
        width: 100%;
    }

    .single .single-inner:nth-child(2) {
        width: 100%;
        margin-top: 30px;
    }

    .single .single-inner:last-child {
        width: 100%;
    }

    .single .single-inner:first-child div {
        height: max-content;
    }

    .single-block-item {
        padding: 0;
    }

    .lorem-inp {
        font-size: 13px;
        list-style: none;
        line-height: 15px;
        max-width: max-content;
  }

  .single-block-item {
    width: 100%;
  }
}
