.watch-cards {
    transition: all 0.5s;

    &:hover {
        img {
            cursor: pointer;
            opacity: 0.7;
        }
    }


    .cards-img {
        position: relative;
        width: 220px;
        height: 343px;
        min-width: 150px;

        img {
            overflow: hidden;
            width: 100%;
            height: 100%;
            min-height: 225px;
            white-space: nowrap;
            text-indent: 100%;
            object-fit: cover;
        }

        span {
            position: absolute;
            z-index: 2;
            top: 10px;
            left: 10px;
            width: 27px;
            height: 18px;
            background: green;
            color: white;
            padding: 1px;
            &.five {
                background: rgb(100, 100, 100);
            }
        }
    }

    .cards-inf {
        .cards-inf-name {
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            color: rgb(0, 0, 0);
            margin-top: 5px;
        }

        .cards-inf-years {
            display: block;
            overflow: hidden;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: rgba(0, 0, 0, 0.6);
            margin-top: 5px;
        }
    }
}



@media screen and (max-width: 1440px) {
    .watch-cards .cards-img {
        width: 222px;
    }
}
@media screen and (max-width: 1310px) {
    .watch-cards .cards-img {
        width: 221px;
    }
}
@media screen and (max-width: 1153px) {
    .watch-cards .cards-img {
        width: 194px;
    }
}
@media screen and (max-width: 960px) {
    .watch-cards .cards-img {
        width: 268px;
    }
}
@media screen and (max-width: 823px) {
    .watch-cards .cards-img {
        width: 230px;
    }
}

@media screen and (max-width: 720px) {
    .watch-cards .cards-img {
        position: relative;
        width: 200px;
        height: 302px;
        min-width: 150px;
        margin-left: 0;
    }
}



@media screen and (max-width: 410px) {

    .watch-cards .cards-img {
        width: 150px;
        min-width: auto;
        height: 250px;
        margin-left: 0;
    }
}