.new-video {
    max-width: 22%;

    h6 {
        margin: 6px 0 16px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }

    .new-video-inner {
        margin-bottom: 20px;

        .oscar-img-block {
            width: 200px;
            height: 120px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .films-ic {
            width: 100%;
            min-height: 100%;
            object-fit: cover;

            span {
                max-width: 200px;
                font-size: 13px;
                line-height: 18px;
                text-decoration: none;
                color: #000;
                transition: color .1s ease;


            }
        }
    }

    .new-com {
        margin-bottom: -3px;
        margin-left: 5px;
    }

    .video-information {
        span {
            cursor: pointer;
        }
        &:hover {
            span {
                color: red;
            }
        }
    }
}



@media screen and (max-width: 720px) {
    .new-video {
        max-width: 100%;
    }
  }


  @media screen and (max-width: 410px) {
    
    .new-video .new-video-inner .oscar-img-block {
        width: 100%;
        height: 200px;
    }

    .new-video .new-video-inner .oscar-img-block img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .video-information {
        margin-top: 8px;
    }
    }